<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Paper.js</title>
    <meta name="description" content="Paper.js on Gomix">
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="paper-full.min.js"></script>
    <!-- Load your Paper.js file -->    
    <script type="text/javascript" src="myScript.js"></script>
    <style>
      body {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
      }
    </style>
  </head>
  <body>
  	<canvas id="myCanvas" resize></canvas>
  </body>
</html>
